.containerPage {
    display: flex;
    margin: auto;
    padding: 69px 0px 0px 53px;
    width: 1440px;
    height: 893px;
}

.blockSearch {
    width: 872px;
    height: 759px;
}

.titleBlockSearch {
    margin-left: 7px;
    width: 872px;
    height: 211px;
}

.textTitle {
    font-family: 'Ferry', sans-serif;
    margin: 0px 0px 25px 0px;
    font-weight: 900;
    font-size: 40px;
}

.textSubTitle {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.formFillData {
    display: flex;
    padding: 0px 39px 32px 44px;
    width: 872px;
    height: 543px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0px #dadada;
}

.inputSelectFilds {
    width: 383px;
    height: 477px;
}

.lableText {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.lableTextInn {
    margin-top: 29px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.textErrorMessage {
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    width: 242px;
    height: 20px;
}

.textErrorMessageDate {
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    width: 372px;
    height: 20px;
}

.error {
    font-family: 'Inter', sans-serif;
    margin: 0px;
    font-weight: 400;
    font-size: 14px;
    color: #FF5959;
}

.input {
    padding: 0px 19px 0px 19px;
    margin: 19px 0px 0px 0px;
    border-radius: 5px;
    box-shadow: 0 0 20px 0px #dadada;
    border: 1px solid #C7C7C7;
    outline: none;
    width: 242px;
    height: 43px;
    display: block;
    text-align: left;
}

.inputError {
    padding: 0px 19px 0px 19px;
    margin: 19px 0px 0px 0px;
    border-radius: 5px;
    box-shadow: 0 0 20px 0px #dadada;
    border: 1px solid #FF5959;
    color: #FF5959;
    outline: none;
    width: 242px;
    height: 43px;
    display: block;
    text-align: left;
}

.starRequired {
    color: black;
}

.starRequiredRed {
    color: #FF5959;
}

::placeholder {
    text-align: center;
}

.select {
    padding-left: 22px;
    margin: 20px 0px 0px 0px;
    border-radius: 5px;
    box-shadow: 0 0 20px 0px #dadada;
    border: 1px solid #C7C7C7;
    outline: none;
    width: 242px;
    height: 43px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    appearance: none;
    background: url('../../Images/arrowForSelect.png');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    cursor: pointer;
}

.option {
    cursor: pointer;
    border-radius: 1px;
}

.dateFields {
    display: flex;
    align-items: center;
    margin: 20px 0px 0px 0px;
    width: 394px;
}

.inputDateFake {
    padding: 0px 19px 0px 19px;
    border-radius: 5px;
    box-shadow: 0 0 20px 0px #dadada;
    border: 1px solid #C7C7C7;
    outline: none;
    width: 176px;
    height: 43px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    user-select: none;

    appearance: none;
    background: url('../../Images/arrowForSelect.png');
    background-repeat: no-repeat, repeat;
    background-position: right 8px top 50%, 0 0;
}

.inputDateHidden {
    padding: 5px;
    position: relative;
    left: -30px;
    border: none;
    outline: none;
    width: 170px;
    height: 40px;
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    user-select: none;
    opacity: 0;
}

/* .inputDate {
    padding-left: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px 0px #dadada;
    border: 1px solid #C7C7C7;
    outline: none;
    width: 40px;
    height: 43px;
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    user-select: none;
} */

.inputDateError {
    padding: 0px 19px 0px 19px;
    border-radius: 5px;
    box-shadow: 0 0 20px 0px #dadada;
    border: 1px solid #FF5959;
    color: #FF5959;
    outline: none;
    width: 176px;
    height: 43px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    user-select: none;

    appearance: none;
    background: url('../../Images/arrowForSelect.png');
    background-repeat: no-repeat, repeat;
    background-position: right 8px top 50%, 0 0;
}

.checkboxButtonSearch {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    width: 406px;
    height: 475px;
}

.blockImages {
    width: 568px;
    height: 759px;
}

.documentImg {
    margin-top: 63px;
}

.foldersImg {
    margin-left: 166px;
}

.manRocketImg {
    margin: 108px 0px 0px 80px;
}

.buttonModifyReqData button {
    margin: 105px 0px 0px 90px;
    font-family: 'Inter', sans-serif;
    color: white;
    width: 305px;
    height: 59px;
    font-weight: 500;
    font-size: 22px;
    background-color: #5970FF;
}

.textForFieldsRequired {
    margin: 10px 0px 0px 90px;
    font-family: 'Inter', sans-serif;
    color: #949494;
    font-weight: 400;
    font-size: 14px;
}