.containerPage {
    display: flex;
    margin: auto;
    padding: 69px 0px 0px 53px;
    width: 1440px;
    height: 893px;
}

.blockSearch {
    width: 872px;
    height: 759px;
}

.titleBlockSearch {
    margin-left: 7px;
    width: 872px;
    height: 211px;
}

.textTitle {
    font-family: 'Ferry', sans-serif;
    margin: 0px 0px 25px 0px;
    font-weight: 900;
    font-size: 40px;
}

.textSubTitle {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.formFillData {
    display: flex;
    padding: 0px 39px 32px 44px;
    width: 872px;
    height: 543px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0px #dadada;
}

.inputSelectFilds {
    width: 383px;
    height: 477px;
    border: 1px solid;
}

.lableText {
    font-family: 'Inter', sans-serif;
    margin: 30px 0px 0px 0px;
    font-weight: 400;
    font-size: 18px;
}

.input {
    margin: 20px 0px 0px 0px;
    border-radius: 1px;
    box-shadow: 0 0 20px 0px #dadada;
    border: 1px solid #C7C7C7;
    outline: none;
    width: 242px;
    height: 43px;
    display: block;
    text-align: left;
}

::placeholder {
    text-align: center;
}

.select {
    padding-left: 22px;
    margin: 20px 0px 0px 0px;
    border-radius: 1px;
    box-shadow: 0 0 20px 0px #dadada;
    border: 1px solid #C7C7C7;
    outline: none;
    width: 242px;
    height: 43px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    appearance: none;
    background: url('../../Images/arrowForSelect.png');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    cursor: pointer;
}

.option {
    cursor: pointer;
    border-radius: 1px;
}

.dateFields {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 0px 0px;
    width: 372px;
}

.inputDate {
    padding-left: 20px;
    border-radius: 1px;
    box-shadow: 0 0 20px 0px #dadada;
    border: 1px solid #C7C7C7;
    outline: none;
    width: 176px;
    height: 43px;
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    user-select: none;
}

.checkboxButtonSearch {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    width: 406px;
    height: 475px;
    border: 1px solid;
}

.blockImages {
    width: 568px;
    height: 759px;
}

.documentImg {
    margin-top: 63px;
}

.foldersImg {
    margin-left: 166px;
}

.manRocketImg {
    margin: 108px 0px 0px 80px;
}