.headerContainer {
    display: flex;
    align-items: center;
    width: 1440px;
    height: 93px;
    border: 1px solid;
}

.logo {
    margin-left: 60px;
    width: 141px;
    height: 93px;
}

.navigationPages {
    margin-left: 401px;
    width: 236px;
    height: 17px;
    border: 1px solid;
}

.userInfo {
    margin-left: 128px;
    width: 414px;
    height: 63px;
    border: 1px solid;
}