.containerAuthPage {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    height: 672px;
    margin: auto;
    padding: 0px 141px 0px 60px;
}

.infoForSubscription {
    width: 730px;
    height: 672px;
}

.formForAuth {
    width: 510px;
    height: 672px;
}

.titleInfo {
    margin: 69px 0px 0px 0px;
    font-family: 'Ferry', sans-serif;
    font-weight: 900;
    font-size: 40px;
}

.positionPicture {
    margin: 10px 0px 0px 112px;
}

.zamok {
    position: relative;
    margin-top: 10px;
    z-index: 1;
}

.containerForm {
    position: relative;
    top: -40px;
    left: 45px;
    width: 429px;
    height: 523px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0px #C7C7C7;
}

.headerForm {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0px 25px 40px 25px;
    width: 379px;
    height: 60px;
}

.loginTab {
    width: 151px;
    height: 29px;
    border: none;
    background-color: white;
    color: #029491;
    border-bottom: 2px solid #029491;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

.registerTab {
    width: 213px;
    height: 29px;
    border: none;
    color: #C7C7C7;
    background-color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    border-bottom: 2px solid #C7C7C7;
}

.titleInputTel {
    margin: 20px 0px 0px 25px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #C7C7C7;
    font-size: 16px;
}

.titleInputPass {
    margin: 0px 0px 0px 25px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #C7C7C7;
    font-size: 16px;
}

.placeError {
    display: flex;
    justify-content: center;
    margin: 6px 0px 0px 25px;
    width: 379px;
    height: 20px;
}

.errorMessage {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #FF5959;
    font-size: 14px;
}

.input {
    margin: 15px 0px 0px 25px;
    width: 379px;
    height: 43px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
    border-radius: 5px;
    outline: none;
    border: 1px solid #C7C7C7;
}

.buttonModifyLogin button {
    margin: 10px 0px 0px 25px;
    width: 379px;
    height: 59px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 22px;
    background-color: #5970FF;
    color: white;
    cursor: pointer;
}

.buttonModifyLogin button:hover {
    font-size: 24px;
}

.link {
    margin: 10px 0px 0px 139px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #5970FF;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.loginVia {
    margin: 25px 0px 0px 25px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #949494;
}

.blockLoginLinks {
    display: flex;
    justify-content: space-between;
    margin: 15px 0px 0px 25px;
    width: 308px;
    height: 31px;
}

.button {
    padding: 0px;
    background-color: white;
    border: none;
    cursor: pointer;
}