
.cardInfo {
    padding-top: 2px;
    width: 131px;
    height: 124px;
    cursor: pointer;
    border-right: 1px solid #949494;
}

.textModifyDataResultDate {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.textModifyDataResultTotal {
    margin: 27px 0px 0px 0px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.textModifyDataResultRisck {
    margin: 27px 0px 0px 0px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.positionDataCaorusel {
    display: flex;
    justify-content: center;
    margin: auto;
}

.arrow {
    border-radius: 50%;
    width: 40px;
    height: 38px;
    opacity: 1;
}

.arrow::before {
    position: relative;
    top: -1px;
    left: -4px;
    opacity: 1;
    font-size: 48px;
    font-weight: bold;
}

.slick_prev {
    left: -180px;
}

.slick_next {
    right: -45px;
}

@media (min-width: 359px) and (max-width: 1235px) {

    .cardInfo {
        width: 298px;
        height: 65px;
        border-right: none;
    }

    .positionDataCaorusel {
        width: 110px;
        margin: 0px;
    }

    .textModifyDataResultDate {
        position: relative;
        top: 3px;
        margin-left: 9px;
        font-size: 16px;
    }
    
    .textModifyDataResultTotal {
        position: relative;
        top: -17px;
        left: 100px;
        margin: 0px;
        font-size: 16px;
    }
    
    .textModifyDataResultRisck {
        position: relative;
        top: -37px;
        left: 197px;
        margin: 0px;
        font-size: 16px;
    }

    .slick_prev {
        top: 15px;
        left: -40px;
    }

    .slick_next {
        top: 15px;
        left: 295px;
    }
    
}



