.homeContainer {
    width: 1440px;
    max-height: 2867px;
    margin: auto;
}

.blockMainAboutSite {
    display: flex;
    margin: 24px auto;
    width: 1320px;
    height: 620px;
}

.mainAboutSiteText {
    width: 725px;
    height: 620px;
}

.mainAboutSitePicture {
    width: 595px;
    height: 620px;
}

.titleMainAboutSite {
    margin: 0;
    font-family: 'Ferry', sans-serif;
    font-weight: 900;
    font-size: 60px;
}

.subtitleMainAboutSite {
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.buttonModifyReqData button {
    margin-top: 70px;
    font-family: 'Inter', sans-serif;
    color: white;
    width: 335px;
    height: 59px;
    font-weight: 500;
    font-size: 22px;
}

.buttonModifyReqData button:hover {
    font-size: 23px;
}

.textTitleBlockName {
    font-family: 'Ferry', sans-serif;
    margin: 109px 0px 0px 60px;
    font-weight: 900;
    font-size: 45px;
    line-height: 54px;
}

.blockCarousel{
    padding: 2px;
    margin: 70px 0px 0px 60px;
    width: 1346px;
    height: 235px;
}

.blockPictureUnderCarousel {
    margin: 70px 0px 0px 60px;
    width: 1307px;
    height: 575.5px;
}

.blockTariffs {
    display: flex;
    justify-content: space-between;
    margin: 70px 0px 118px 60px;
    width: 1320px;
    height: 540px;
}

.tariffItem {
    width: 415px;
    height: 540px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0px #dadada;
}

.beginner {
    background-color: #FFB64F;
}
.pro {
    background-color: #7CE3E1;
}
.business {
    background-color: #000000;
}

.headTariffItem {
    padding: 0px 0px 0px 20px;
    display: flex;
    justify-content: space-between;
    width: 415px;
    height: 132px;
    border-radius: 10px 10px 0px 0px;
}

.titleTariffItem {
    width: 300px;
    height: 132px;
}

.nameTariffText {
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 30px;
}

.descriptionTariffText {
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.colorBusiness {
    color: white;
}

.headTariffItemIcon {
    width: 105px;
    height: 132px;
}

.marginIconLamp {
    margin: 15px 0px 0px 0px;
}

.marginIconLaptop {
    margin: 25px 0px 0px 0px;
}

.marginIconTarget {
    margin: 0px 0px 0px 0px;
}

.mainTariffItem {
    padding-left: 20px;
    width: 415px;
    height: 408px;
    border-radius: 0px 0px 10px 10px;
}

.containerBadge {
    margin: 12px 10px 0px 251px;
    width: 134px;
    height: 24px;
}

.badge {
    padding: 3px 0px 0px 13px;
    font-family: 'Inter', sans-serif;
    width: 134px;
    height: 24px;
    border-radius: 10px;
    color: white;
    font-weight: 400;
    font-size: 14px;
    background-color: #3BA5E0;
}

.price {
    margin: 3px 0px 0px 0px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 30px;
}

.priceСrossed {
    text-decoration: line-through;
    color: #000000;
    opacity: 50%;
}

.paymentMethod {
    margin: 10px 0px 0px 0px;
}

.tariffIncludes {
    margin: 65px 0px 10px 0px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
}

.styleTextMainDesc {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.marginListInclude {
    margin: 5px 0px 0px 0px;
}

.positionGalka {
    position: relative;
    top: 3px;
}


