.homeContainer {
    width: 1440px;
    max-height: 2867px;
    margin: auto;
}

.blockMainAboutSite {
    display: flex;
    margin: 24px auto;
    width: 1320px;
    height: 620px;
}

.mainAboutSiteText {
    width: 725px;
    height: 620px;
}

.mainAboutSitePicture {
    width: 595px;
    height: 620px;
}

.titleMainAboutSite {
    margin: 0;
    font-family: 'Ferry', sans-serif;
    font-weight: 900;
    font-size: 60px;
}

.subtitleMainAboutSite {
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.buttonModifyReqData button {
    margin-top: 70px;
    font-family: 'Inter', sans-serif;
    color: white;
    width: 335px;
    height: 59px;
    font-weight: 500;
    font-size: 22px;
    background-color: #5970FF;
}

.buttonModifyReqData button:hover {
    font-size: 23px;
}

.textTitleBlockName {
    font-family: 'Ferry', sans-serif;
    margin: 109px 0px 0px 60px;
    font-weight: 900;
    font-size: 45px;
    line-height: 54px;
}

.blockCarousel{
    padding: 2px;
    margin: 70px 0px 0px 60px;
    width: 1346px;
    height: 235px;
}

.blockPictureUnderCarousel {
    margin: 70px 0px 0px 60px;
    width: 1307px;
    height: 575.5px;
}

.blockTariffs {
    display: flex;
    justify-content: space-between;
    margin: 70px 0px 118px 60px;
    width: 1320px;
    height: 540px;
}

.tariffItem {
    width: 415px;
    height: 540px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0px #dadada;
    cursor: pointer;
}

.beginner {
    background-color: #FFB64F;
}
.pro {
    background-color: #7CE3E1;
}
.business {
    background-color: #000000;
}

.headTariffItem {
    padding: 0px 0px 0px 20px;
    display: flex;
    justify-content: space-between;
    width: 415px;
    height: 132px;
    border-radius: 10px 10px 0px 0px;
}

.titleTariffItem {
    width: 300px;
    height: 132px;
}

.nameTariffText {
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 30px;
}

.descriptionTariffText {
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.colorBusiness {
    color: white;
}

.headTariffItemIcon {
    width: 105px;
    height: 132px;
}

.marginIconLamp {
    margin: 15px 0px 0px 0px;
}

.marginIconLaptop {
    margin: 25px 0px 0px 0px;
}

.marginIconTarget {
    margin: 0px 0px 0px 0px;
}

.mainTariffItem {
    padding-left: 20px;
    width: 415px;
    height: 408px;
    border-radius: 0px 0px 10px 10px;
}

.containerBadge {
    margin: 12px 10px 0px 251px;
    width: 134px;
    height: 24px;
}

.badge {
    padding: 3px 0px 0px 13px;
    font-family: 'Inter', sans-serif;
    width: 134px;
    height: 24px;
    border-radius: 10px;
    color: white;
    font-weight: 400;
    font-size: 14px;
    background-color: #3BA5E0;
}

.price {
    margin: 3px 0px 0px 0px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 30px;
}

.priceСrossed {
    text-decoration: line-through;
    color: #000000;
    opacity: 50%;
}

.paymentMethod {
    margin: 10px 0px 0px 0px;
}

.tariffIncludes {
    margin: 55px 0px 10px 0px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
}

.styleTextMainDesc {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.marginListInclude {
    margin: 5px 0px 0px 0px;
}

.positionGalka {
    position: relative;
    top: 3px;
}

.buttonModifyMoreDetail button {
    margin: 45px 0px 0px 0px;
    font-family: 'Inter', sans-serif;
    color: white;
    width: 355px;
    height: 59px;
    font-weight: 400;
    font-size: 20px;
    background-color: #5970FF;
}

.buttonModifyMoreDetail button:hover {
    font-size: 21px;
}

.buttonModifyPersonalArea button {
    margin: 45px 0px 0px 0px;
    font-family: 'Inter', sans-serif;
    color: black;
    width: 355px;
    height: 59px;
    font-weight: 400;
    font-size: 20px;
    background-color: #D2D2D2;
}

.buttonModifyPersonalArea button:hover {
    font-size: 21px;
}

.selectedTariffBeginer {
    border: 2px solid #FFB64F;
}

.selectedTariffPro {
    border: 2px solid #7CE3E1;
}

.selectedTariffBusiness {
    border: 2px solid;
}

@media (min-width: 359px) and (max-width: 1235px) {
    
    .blockMainAboutSite {
        display: flex;
        flex-direction: column;
        width: 375px;
        height: 620px;
    }

    .mainAboutSiteText {
        padding-left: 14px;
        width: 375px;
        height: 620px;
    }
    
    .mainAboutSitePicture {
        width: 347px;
        height: 327px;
    }

    .titleMainAboutSite {
        margin: 0;
        font-family: 'Ferry', sans-serif;
        font-weight: 900;
        font-size: 28px;
    }
    
    .subtitleMainAboutSite {
        margin-top: 20px;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 18px;
    }

    .sizeImage{
        width: 347px;
        height: 327px;
    }

    .buttonModifyReqData button {
        margin: 32px 0px 24px 0px;
    }

    .marginMobileWhyUs {
        margin: auto;
        width: 278px;
        height: 68px;
    }

    .textTitleBlockName {
        font-family: 'Ferry', sans-serif;
        margin: 55px 0px 0px 0px;
        font-weight: 900;
        font-size: 28px;
        Line-height: 33.6px;
    }
    
    .blockCarousel{
        margin: 32px auto;
        width: 298px;
        height: 188px;
    }

    .blockPictureUnderCarousel {
        margin: auto;
        width: 350px;
        height: 392px;
    }

    .sizeImageUnderCaorusel {
        padding-top: 400px;
        margin: 50px 0px 0px 0px;
        width: 350px;
        height: 392px;
        object-fit: contain; 
        background-image: url('../../Images/imageMobileUnderCaorusel.png');
    }

    .marginMobileOurRates {
        padding-top: 50px;
        margin: auto;
        width: 278px;
        height: 68px;
    }

    .blockTariffs {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 43px;
        margin: 110px 0px 118px 60px;
        width: 1320px;
        height: 540px;
    }

    .tariffItem {
        width: 335px;
        height: 512px;
        border-radius: 10px;
        box-shadow: 0 0 20px 0px #dadada;
        cursor: pointer;
    }

    .headTariffItem {
        padding: 0px 0px 0px 20px;
        display: flex;
        justify-content: space-between;
        width: 335px;
        height: 132px;
        border-radius: 10px 10px 0px 0px;
    }

    .mainTariffItem {
        padding-left: 20px;
        width: 335px;
        height: 380px;
        border-radius: 0px 0px 10px 10px;
    }
    

    .marginIconLamp {
        margin: 15px 0px 0px -50px;
        width: 59px;
        height: 53px;
    }

    .marginIconLaptop {
        margin: 15px 0px 0px -65px;
        width: 73px;
        height: 60px;
    }
    
    .marginIconTarget {
        margin: 0px 0px 0px -60px;
        width: 68px;
        height: 75px;
    }

    .descriptionTariffText {
        width: 300px;
        margin-top: 10px;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 18px;
    }

    .containerBadge {
        display: none;
    }

    .price {
        margin: 15px 0px 0px 0px;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 30px;
    }

    .styleTextMainDesc {
        width: 300px;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 16px;
    }

    .tariffIncludes {
        margin: 36px 0px 10px 0px;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 18px;
        color: #000000;
        width: 300px;
    }

    .buttonModifyPersonalArea button {
        margin: 37px 0px 0px 0px;
        font-family: 'Inter', sans-serif;
        color: black;
        width: 286px;
        height: 59px;
        font-weight: 400;
        font-size: 20px;
        background-color: #D2D2D2;
    }

    .buttonModifyMoreDetail button {
        margin: 37px 0px 0px 0px;
        font-family: 'Inter', sans-serif;
        color: white;
        width: 286px;
        height: 59px;
        font-weight: 400;
        font-size: 20px;
        background-color: #5970FF;
    }
}


