.marginItem {
    margin: 0px 15px 0px 15px;
}

.cardInfo {
    width: 400px;
    height: 224px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0px #dadada;
    cursor: pointer;
}

.arrow {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    opacity: 1;
}

.arrow::before {
    opacity: 1;
}




