.label {
    position: relative;
    margin: 16px 0px 0px 0px;
    font-weight: 500;
    font-size: 16px;
    color: black;
    left: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.checkbox {
    display: none;
}

.fake{
    position: relative;
    right: 17px;
    top: 4px;
    display: inline-flex;
    width: 20px;
    height: 20px;
    background: white;
    justify-content: center;
    border: 1px solid black;
    border-radius: 1px;
} 

.fake::before {
    position: absolute;
    left: -2px;
    top: 6px;
    height: 50%;
    width: 3px;
    background-color: rgb(12, 218, 12);
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
    opacity: 0;
}

.fake::after {
    position: absolute;
    left: -2px;
    top: 12px;
    bottom: 0;
    height: 3px;
    width: 70%;
    background-color: rgb(12, 218, 12);
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
    opacity: 0;
}

.checkbox:checked + .fake::before {
    opacity: 1;
}

.checkbox:checked + .fake::after {
    opacity: 1;
}



