.headerContainer {
    display: flex;
    align-items: center;
    width: 1440px;
    height: 93px;
    margin: auto;
}

.logo {
    margin-left: 60px;
    width: 141px;
    height: 93px;
}

.navigationPages {
    padding: 0px;
    display: flex;
    justify-content: space-between;
    margin-left: 401px;
    width: 236px;
    height: 17px;
}

.userInfo {
    margin-left: 128px;
    width: 414px;
    height: 63px;
}

.list {
    list-style: none;
}

.link {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

.userInfo {
    display: flex;
    justify-content: flex-end;
}